{
	"ignore": [
	  "^./node_modules"
	],
	"presets": [
		["@babel/preset-env", {
			"loose": true,
			"modules": false,
			"debug": false,
			"targets": {
			"browsers": [ "> 0.5% in JP", "not op_mini all", "not ie 11"]
			}
		}]
	],
	"plugins": [
		["transform-react-jsx",{
			"pragma": "h"
		}]
	]
}